@CHARSET "ISO-8859-1";

body {
	/*-margin: 50px 0px;
	padding: 0px;
	font-size: 0.8em;
	color: navy;
	text-transform: capitalize text-align : center;
	background-color: white;
	vertical-align:text-top; */
	    margin: 0;  
    padding: 0;  
    background:#1d1d1d;
    font-family: "Lucida Grande", Verdana, sans-serif;  
    font-size: 100%;  
	
}

h1 {
	color: #ffc;
	background-color: #3F3F3F;
	text-transform: capitalize;
	text-align: center;
}

#hide {  
    position:absolute;  
    top:20px;  
    left:-200px; 
}
